.call-form-modal {
  position: relative;
  width: 480px;
  height: 521px;
  margin: 0 auto;
  padding: 56px 72px 40px 48px;

  @include modal-border-shadow;
  
  box-sizing: border-box;
}

.call-form-modal__btn-close {
  @include form-close(32px, 32px);
}

.call-form-modal__header {
  margin: 0;
  margin-bottom: 16px;

  @include modal-header;
}

.call-form-modal__lead-in {
  margin: 0;
  margin-bottom: 32px;

  @include text-regular;
  opacity: 0.87;
}

.call-form-modal__user-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.call-form-modal__input-name, 
.call-form-modal__input-tel {
  padding: 19px 40px 20px;

  border: 2px solid $border-grey;
  box-sizing: border-box;
  border-radius: 80px;

  @include form-input-text;

  &::placeholder {
    @include form-placeholder;
  }
}

.call-form-modal__input-name {
  margin-bottom: 8px;
}

.call-form-modal__btn-wrapper {
  display: flex;
  flex-direction: column;

  padding: 0 36px 0 50px;
}

.call-form-modal__order-call-btn {
  @include btn;
  @include call-btn;
  margin-bottom: 16px;

  box-sizing: border-box;
}

.call-form-modal__agreement-label {
  position: relative;
  margin: 0;
  padding-left: 30px;
  @include text-small;

  opacity: 0.74;
}

.call-form-modal__agreement-check {
  @include agreement-check;
  
  cursor: pointer;
}

.call-form-modal__agreement-label [type="checkbox"]:checked + .call-form-modal__agreement-check::before {
  @include agreement-check-on;
}

@media (max-width: 767px) {
  .call-form-modal {
    width: 320px;
    height: 768px;
    padding: 169px 16px;
  }

  .call-form-modal__btn-close {
    @include form-close(24px, 24px);
  }

  .call-form-modal__header, 
  .call-form-modal__lead-in {
    text-align: center;
  }

  .call-form-modal__lead-in {
    @include text-regular-mobile;
  }

  .call-form-modal__btn-wrapper {
    display: flex;
    flex-direction: column;
  
    padding: 0 12px;
  }

  .call-form-modal__agreement-label {
    padding-left: 23px;
  }
}
