.call-form-modal {
  position: relative;
  top: -650px;
  z-index: 2;
  width: 480px;
  min-height: 521px;
  margin: 0 auto;
  padding: 56px 72px 40px 48px;

  @include modal-border-shadow;
  
  box-sizing: border-box;
  background-color: $white;

  button[type='reset'] {
    @include form-close(32px, 32px);

    &:hover, 
    &:focus {
      opacity: 0.6;
    };
    
    outline: none;
  }

  &__header {
    margin: 0;
    margin-bottom: 16px;
  
    @include modal-header;
  }

  &__lead-in {
    margin: 0;
    margin-bottom: 32px;
  
    @include text-regular;
    opacity: 0.87;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  input[type='text'], 
  input[type='tel'] {
    padding: 20px 40px 19px;

    border: 2px solid $border-grey;
    box-sizing: border-box;
    border-radius: 80px;

    @include form-input-text;
    font-size: 17px;

    &::placeholder {
      @include form-placeholder;
    }

    &:hover, 
    &:focus {
      @include input-focus;
    }

    outline: none;
  }

  input[type='text'] {
    margin-bottom: 8px;
  }

  input[type='text'].input-invalid, 
  input[type='tel'].input-invalid {
    border-color: rgba(255,0,0,0.5);
  }

  input[type='text'].input-valid, 
  input[type='tel'].input-valid {
    border-color: $black;
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
  
    padding: 0 36px 0 50px;
  }

  button[type='submit'] {
    @include call-btn;
    margin-bottom: 16px;
  
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
  }

  &__agreement-label {
    position: relative;
    margin: 0;
    padding-left: 30px;
    @include text-small;
  
    opacity: 0.74;
    cursor: pointer;
  }

  &__agreement-check {
    position: relative;
    @include agreement-check;
    
    cursor: pointer;
  }

  &__agreement-label [type="checkbox"]:checked + .call-form-modal__agreement-check::before {
    @include agreement-check-on(-0.5px, -1px);
  }

  input[type="checkbox"] {
    position: absolute;
    bottom: 10px;
    left: 9px;
  }

  input[type="checkbox"]:hover ~ .call-form-modal__agreement-check {
    background: $yellow-gradient;
  }
}

@media (max-width: 767px) {
  .call-form-modal {
    top: -584px;
    
    width: 320px;
    min-height: 768px;
    margin: 0 auto;
    padding: 169px 16px;
    border-radius: 0;

    button[type='reset'] {
      @include form-close(24px, 24px);

      &:hover, 
      &:focus {
        opacity: 0.6;
      }
    }

    &__header, 
    &__lead-in {
      text-align: center;
    }

    &__lead-in {
      @include text-regular-mobile;
    }

    &__btn-wrapper {
      display: flex;
      flex-direction: column;
    
      padding: 0 12px;
    }

    &__agreement-label {
      padding-left: 23px;
    }
  
    &__agreement-check {
      @include agreement-check;
      
      cursor: pointer;
    }
  
    &__agreement-label input[type="checkbox"]:checked + .call-form-modal__agreement-check::before {
      @include agreement-check-on(-0.5px, -1px);
    }
  
    input[type="checkbox"]:hover ~ .call-form-modal__agreement-check {
      background: $yellow-gradient;
    }
  }
}
