.call-form-modal {
  position: relative;
  top: -650px;
  z-index: 2;
  width: 480px;
  height: 521px;
  margin: 0 auto;
  padding: 56px 72px 40px 48px;

  @include modal-border-shadow;
  
  box-sizing: border-box;
  background-color: $white;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  
    width: 100%;
    height: 100%;
  
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: auto;
  
    background-color: rgba(235,235,235,0.95);
  }

  &__btn-close {
    @include form-close(32px, 32px);
  }

  &__header {
    margin: 0;
    margin-bottom: 16px;
  
    @include modal-header;
  }

  &__lead-in {
    margin: 0;
    margin-bottom: 32px;
  
    @include text-regular;
    opacity: 0.87;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  &__input-name, 
  &__input-tel {
    padding: 19px 40px 20px;

    border: 2px solid $border-grey;
    box-sizing: border-box;
    border-radius: 80px;

    @include form-input-text;

    &::placeholder {
      @include form-placeholder;
    }

    &:hover, 
    &:focus {
      @include input-focus;
    }

    outline: transparent;
    cursor: pointer;
  }

  &__input-name {
    margin-bottom: 8px;
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
  
    padding: 0 36px 0 50px;
  }

  &__order-call-btn {
    @include call-btn;
    margin-bottom: 16px;
  
    box-sizing: border-box;
    cursor: pointer;
  }

  &__agreement-label {
    position: relative;
    margin: 0;
    padding-left: 30px;
    @include text-small;
  
    opacity: 0.74;
  }

  &__agreement-check {
    @include agreement-check;
    
    cursor: pointer;
  }

  &__agreement-label [type="checkbox"]:checked + .call-form-modal__agreement-check::before {
    @include agreement-check-on;
  }
}

@media (max-width: 767px) {
  .call-form-modal {
    width: 320px;
    height: 768px;
    margin: 0 auto;
    padding: 169px 16px;

    &__btn-close {
      @include form-close(24px, 24px);
    }

    &__header, 
    &__lead-in {
      text-align: center;
    }

    &__lead-in {
      @include text-regular-mobile;
    }

    &__btn-wrapper {
      display: flex;
      flex-direction: column;
    
      padding: 0 12px;
    }

    &__agreement-label {
      padding-left: 23px;
    }
  }
}
