.call-form {
  margin: 0;
  padding: 0;

  &__wrapper {
    position: relative;
    min-width: 477px;
  }

  input[type='tel'] {
    margin: 0;
    padding: 19px 95px 17px 38px;
  
    @include form-input-text;

    border: 2px solid $border-grey;
    border-right: none;
    border-radius: 80px 0 0 80px;
    background-color: #fff;
    outline: none;
    box-sizing: border-box;

    &::placeholder {
      @include form-placeholder;
    }

    &:hover, 
    &:focus {
      @include input-focus;
    }
  }
 
  input[type='tel'].input-invalid {
    border-color: rgba(255,0,0,0.5);
  }

  input[type='tel'].input-valid {
    border-color: $black;
  }

  button[type='submit'] {
    position: absolute;
  
    @include call-btn;
    width: 216px;
    margin-left: -30px;
    padding: 19px 35px 17px;

    letter-spacing: 0.04em;
    cursor: pointer;
    outline: none;
  }
}

@media (max-width: 767px) {
  .call-form {
    &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 287px;
    margin: 0 auto;
    box-sizing: border-box;
    }

    input[type='tel'] {
      width: 287px;
      margin-bottom: 8px;
      padding: 21px 64px 15px 40px;
  
      border-right: 2px solid $border-grey;
      border-radius: 80px;
    }

    button[type='submit'] {
      position: relative;
      width: 264px;
      margin: 0 auto;
      padding: 19px 64px 15px 64px;
    }
  }
}
