.curator {
  position: relative;
  display: flex;
  margin-bottom: 32px;

  &__header {
    margin: 0 0 12px 0;
    padding: 2px 0 0;

    @include text-regular;
    line-height: 22px;
    color: $blue;
  }

  &__pic {
    margin-right: 22px;
  }

  &__name {
    margin-left: 5px;
    color: $black-less-opacity;
  }

  &__curator-adress {
    @include text-small;
    color: $black-less-opacity;
  }

  &__contacts-list {
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;

    bottom: -5px;
    left: 127px;

    list-style: none;
  }

  &__contacts-item {
    margin: 0 12px 0 0;
  }

  &__contacts-link {
    &:hover, 
    &:focus {
      opacity: 0.6;
    }
  }
}

@media (max-width: 767px) {
  .curator {
    flex-direction: column;

    &__contacts-list {
      position: relative;
      bottom: 0;
      left: 0;
    }

    &__pic {
      margin-bottom: 18px;
    }

    &__curator-adress {
      margin-bottom: 12px;
    }
    
    &__name {
      margin-left: 5px;
    }

    &__link-icon {
      width: 24px;
      height: 24px;
    }
  }
}
