.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 30px 8% 0;

  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 15px;
  line-height: 18px;

  a {
    margin: 0;
    padding: 0;

    color: $black;
    text-decoration: none;
  }
}

.page-header__call-order {
  text-transform: uppercase;
  
  border-bottom: 1px dashed $black;
}



@media (max-width: 767px) {
  .page-header {
    flex-wrap: wrap;
    flex-direction: column;

    padding: 20px 8% 0;

    font-size: 14px;
    line-height: 17px;
  }

  .page-header__contact-tel {
    margin-left: auto;
    margin-bottom: 12px;

    order: 1;
  }

  .page-header__call-order {
    margin-left: auto;

    order: 2;
  }

  .page-header__logo-wrapper {
    position: relative;
    margin-right: auto;
  }

  .page-header__logo {
    position: absolute;

    width: 120px;
    height: 42px;
  }
}
