.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 30px 8% 0;

  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 15px;
  line-height: 18px;

  a {
    margin: 0;
    padding: 0;

    color: $black;
    text-decoration: none;
  }
}

.page-header__call-order {
  font-variant: small-caps;
  text-transform: lowercase;
  
  border-bottom: 1px dashed $black;
}

@media (max-width: 767px) {
  .page-header {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .page-header__contact-tel {
    order: 1;
    margin-left: auto;
  }

  .page-header__call-order {
    order: 2;
    margin-left: auto;
  }

  .page-header__logo-wrapper {
    margin-right: auto;
    position: relative;
  }

  .page-header__logo {
    position: absolute;
  }
}
