.page-header {
  position: relative;
  padding-bottom: 100px;

  background-image: url("../img/bg/bg-town-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 1366px 879px;
  background-position: top;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 30px 8% 0;
  
    font-family: $font-main;
    font-weight: $font-weight-medium;
    font-size: 15px;
    line-height: 18px;
  
    a {
      margin: 0;
      padding: 0;
  
      color: $black;
      text-decoration: none;
    }
  }

  &__call-order-open-btn {
    text-transform: uppercase;
    
    border-bottom: 1px dashed $black;
  }

  &__lead-in-wrapper {
    position: relative;
    padding: 430px 0 200px;
  
    background-image: url("../img/bg/bg-girl-desktop.png");
    background-repeat: no-repeat;
    background-size: 1366px 906px;
    background-position: center;
  }

  &__lead-in {
    position: relative;
    width: 350px;
    margin: 0 auto;
    @include text-promo;
  }

  &__anchor::before {
    content: "";
  
    position: absolute;
    bottom: -163px;
    left: 134px;
  
    width: 76px;
    height: 132px;
    
    background-image: url("../img/icons/scroll.svg");
    background-repeat: no-repeat;
    background-size: 76px 132px;
    background-position: center;
    background-color: transparent;
  }
}

/*
.page-header__logo-title {
  position: absolute;
  top: 100px;
  margin: 0;
  padding: 0;
  z-index: 1;
  
  background-image: url("../img/bg/bg-israel-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  span {
    margin: 0;
    padding: 0;
    z-index: 1;

    @include logo-title;
    background: $white;
    mix-blend-mode: lighten;
  }
}
*/

@media (max-width: 767px) {
  .page-header {
    &__nav {
      flex-wrap: wrap;
      flex-direction: column;
  
      padding: 20px 8% 0;
  
      font-size: 14px;
      line-height: 17px;
    }

    &__contact-tel {
      margin-left: auto;
      margin-bottom: 12px;
  
      order: 1;
    }

    &__call-order-open-btn {
      margin-left: auto;
  
      order: 2;
    }

    &__logo-wrapper {
      position: relative;
      margin-right: auto;
    }

    &__logo {
      position: absolute;
  
      width: 120px;
      height: 42px;
    }
  }
}
