.social {
  &__list {
    display: flex;
    justify-content: space-between;
    width: 112px;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    &:hover, 
    &:focus {
      opacity: 0.6;
    }
  }
}

@media (max-width: 767px) {
  .social__link-icon {
    width: 24px;
    height: 24px;
  }
}
