.want-to-go {
  position: relative;
  margin: 0;
  margin-bottom: 12px;
  padding: 209px 46.7% 131px 15.37%;

  &::before {
    content: "";

    position: absolute;
    left: -14.51px;

    width: 167px;
    height: 226px;

    background-image: url("../img/bg/backpack.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  background-image: url("../img/bg/bg-girl-flag-desktop.png");
  background-repeat: no-repeat;
  background-size: 818px 594px;
  background-position: right bottom;

  &__header {
    margin: 0;
    margin-bottom: 24px;
  
    @include section-header-desktop;
  }

  &__description {
    margin: 0;
    margin-bottom: 64px;
    padding-right: 80px;
  
    @include text-big;
  }
}

@media (max-width: 1023px) {
  .want-to-go {
    padding-top: 90px;
    padding-bottom: 240px;
  }
}

@media (max-width: 767px) {
  .want-to-go {
    margin: 0;
    margin-bottom: 82px;
    padding: 0 16px 308px;

  &::before {
    top: -42px;

    width: 120px;
    height: 162px;
  }

    background-image: url("../img/bg/bg-girl-flag-mobile.png");
    background-repeat: no-repeat;
    background-size: 320px 308px;
    background-position: center bottom;

    &__header {
      margin: 0 0 24px;
      @include section-header-mobile;
    }

    &__description {
      margin: 0;
      margin-bottom: 24px;
      padding-right: 0;

      @include text-big-mobile;
    }
  }
}
