.want-to-go {
  position: relative;
  margin: 0;
  margin-bottom: 12px;
  padding: 198px 46.7% 131px 15.4%;

  &::before {
    content: "";

    position: absolute;
    top: 121px;
    left: 3px;

    width: 147px;
    height: 262px;

    background-image: url("../img/bg/backpack-desktop.png");
    background-repeat: no-repeat;
    background-size: 147px 262px;
    background-position: center top;

    z-index: 10;
  }

  background-image: url("../img/bg/bg-girl-flag-desktop.png");
  background-repeat: no-repeat;
  background-size: 818px 594px;
  background-position: right -15px;

  &__header {
    margin: 0;
    margin-bottom: 21px;
  
    @include section-header-desktop;
  }

  &__description {
    margin: 0;
    margin-bottom: 63px;
    padding-right: 80px;
  
    @include text-big;
    color: $black-opacity;
  }
}

@media (max-width: 1300px) {
  .want-to-go {
    background-size: 60%;
    background-position: right center;
  }
}

@media (max-width: 1023px) {
  .want-to-go {
    padding-top: 90px;
    padding-bottom: 240px;

    background-position: right 15px;
  }
}

@media (max-width: 767px) {
  .want-to-go {
    margin: 0;
    margin-bottom: 82px;
    padding: 0 16px 308px;

  &::before {
    top: -42px;

    width: 103px;
    height: 188px;

    background-image: url("../img/bg/backpack-desktop.png");
    background-repeat: no-repeat;
    background-size: 103px 188px;
    background-position: -5px -10px;
  }

    background-image: url("../img/bg/bg-girl-flag-mobile.png");
    background-repeat: no-repeat;
    background-size: 320px 308px;
    background-position: center bottom;

    &__header {
      margin: 0 0 24px;
      @include section-header-mobile;
    }

    &__description {
      margin: 0;
      margin-bottom: 24px;
      padding-right: 0;

      @include text-big-mobile;
    }
  }
}
