body {
	height: 100vh;
  min-width: 320px;
  margin: 0;
}

.hidden {
  display: none;
}

.body-lock {
  width: 100%;
  overflow-y: scroll;
  position: fixed;
}

* {
	margin: 0;
	padding: 0;
}


.wrapper {
	height: 100%;
}
.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 90px;
}
.footer {
	height: 80px;
	margin-top: -80px;
}