body {
  min-width: 320px;
  margin: 0;
}

.hidden {
  display: none;
}

.body-lock {
  width: 100%;
  overflow-y: scroll;
  position: fixed;
}

.input-invalid {
  border-color: rgba(255,0,0,0.5);
}

.input-valid {
  border-color: $black;
}
