@mixin section-header-desktop {
  font-family: $font-headers;
  font-weight: $font-weight-bold;
  font-size: $font-size-header-desktop;
  color: $blue;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@mixin section-header-mobile {
  font-family: $font-headers;
  font-weight: $font-weight-bold;
  font-size: $font-size-header-mobile;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@mixin text-promo {
  font-family: $font-main;
  font-weight: $font-weight-bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $white;

  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

@mixin text-promo-mobile {
  font-family: $font-main;
  font-weight: $font-weight-bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: $white;

  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

@mixin modal-header {
  font-family: $font-headers;
  font-weight: $font-weight-bold;
  font-size: 28px;
  color: $blue;
  line-height: 34px;
  letter-spacing: -0.02em;
}

@mixin modal-header-mobile {
  font-family: $font-headers;
  font-weight: $font-weight-bold;
  font-size: 24px;
  line-height: 29px;
  color: $blue;
  letter-spacing: -0.02em;
}

@mixin text-regular {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 15px;
  color: $black;
  line-height: 26px;
}

@mixin text-big {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 17px;
  color: $black;
  line-height: 29px;
}

@mixin text-big-mobile {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 16px;
  color: $black;
  line-height: 160%;
}

@mixin text-regular-mobile {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 14px;
  line-height: 22px;
  color: $black;
}

@mixin text-small {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 13px;
  color: $black;
  line-height: 150%;
}

@mixin feature-header {
  font-family: $font-logo;
  font-weight: $font-weight-sub-title;
  font-size: 18px;
  color: $white;
  line-height: 21px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

@mixin review-name {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 24px;
  line-height: 150%;
  color: $black-less-opacity;
}

@mixin faq-btn-number {
  position: absolute;
  top: 25px;
  left: 0;

  width: 15px;
  height: 48px;

  font-family: $font-main;
  font-weight: $font-weight-bold;
  font-size: 28px;
  background: $yellow-gradient;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  line-height: 170%;
}

@mixin logo-title {
  font-family: $font-logo;
  font-weight: $font-weight-logo;
  font-size: 200px;
  line-height: 170%;

  letter-spacing: 0.055em;
  text-transform: uppercase;

  color: $black-logo;
}

@mixin tab-label {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 15px;
  line-height: 22px;
  color: $black-opacity;
}

@mixin tab-header-active {
  width: 228px;
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: $white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  text-transform: lowercase;
  font-variant: small-caps;

  background-image: url("../img/icons/tab-active.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 228px 69px;
}

@mixin tab-header-active-mobile {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 20px;
  color: $white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  font-variant: small-caps;

  background-image: $yellow-gradient;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 181px 50px;
  border: 1px solid transparent;
  border-radius: 54px;
}

@mixin program-tab-icon($src, $width, $height, $top, $left) {
  content: "";

  position: absolute;
  top: $top;
  left: $left;

  width: $width;
  height: $height;

  background-image: $src;
  background-repeat: no-repeat;
  background-size: $width $height;
  background-position: center;
}

@mixin program-tab-icon-mobile($src) {
  content: "";

  position: absolute;
  top: 8px;
  left: 12px;

  width: 32px;
  height: 32px;

  background-image: $src;
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;
}

@mixin feature-description {
  font-family: $font-logo;
  font-weight: $font-weight-sub-title;
  font-size: 21px;
  line-height: 25px;

  color: $white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

@mixin input-focus {
  border-color: $yellow;
}

@mixin call-btn {
  width: 264px;
  padding: 22px 61px 16px;

  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 15px;
  color: $white;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
  font-variant: small-caps;
  text-shadow: 0px 1.01117px 4.04469px rgba(0, 0, 0, 0.12);
  
  border: 2px solid transparent;
  border-radius: 80px;
  background-image: $yellow-gradient;

  &:hover, 
  &:focus {
    background: linear-gradient(143.55deg, #FFC341 -50.3%, #FFD701 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, #FFC341 -50.3%, #FFD701 63.1%);
  }
}

@mixin form-close($top, $right) {
  position: absolute;
  top: $top;
  right: $right;

  width: 18px;
  height: 18px;

  font-size: 0;

  background-color: transparent;
  border: none;
  background-image: url("../img/icons/btn-close.svg");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

@mixin modal-border-shadow {
  border: 1px solid transparent;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

@mixin form-placeholder {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-variant: small-caps;

  color: $black-half-opacity;
}

@mixin form-input-text {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: $black-opacity;
}

@mixin agreement-check {
  position: absolute;
  top: 1px;
  left: 0;

  width: 16px;
  height: 16px;

  background-color: transparent;
  border: 2px solid $yellow;
  border-radius: 2px;

  box-sizing: border-box;
  cursor: pointer;
}

@mixin agreement-check-on($top, $left) {
  content: "";
  position: absolute;
  top: $top;
  left: $left;

  width: 14px;
  height: 14px;

  background-color: transparent;
  background-image: url("../img/icons/checkbox-checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin feature-item-img($src, $width, $height, $top, $left) {
  content: "";

  position: absolute;
  top: $top;
  left: $left;

  width: $width;
  height: $height;

  background-image: $src;
  background-repeat: no-repeat;
  background-size: $width $height;
  background-position: center;
}

@mixin condition-icon($top, $left) {
  position: absolute;
  top: $top;
  left: $left;

  width: 36px;
  height: 36px;
  
  background-color: $white;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  
  z-index: 1;
}

@mixin conditions-number($top, $left) {
  position: absolute;
  top: $top;
  left: $left;

  font-family: $font-main;
  font-weight: $font-weight-bold;
  font-size: 17px;
  color: $yellow;
  line-height: 170%;

  z-index: 10;
}

@mixin play-btn {
  background-color: transparent;
  background-image: url("../img/icons/play-btn.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &:hover, 
  &:focus {
  background-image: url("../img/icons/play-btn-hover.svg");
  }

  &:active {
  background-image: url("../img/icons/play-btn-active.svg");
  }

  border: none;
}
