@mixin section-header-desktop {
  font-family: $font-headers;
  font-weight: $font-weight-bold;
  font-size: $font-size-header-desktop;
  color: $blue;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@mixin section-header-mobile {
  font-family: $font-headers;
  font-weight: $font-weight-bold;
  font-size: $font-size-header-mobile;
  line-height: 39px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@mixin text-promo {
  font-family: $font-main;
  font-weight: $font-weight-bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $white;

  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

@mixin modal-header {
  font-family: $font-headers;
  font-weight: $font-weight-bold;
  font-size: 28px;
  color: $blue;
  line-height: 34px;
  letter-spacing: -0.02em;
}

@mixin text-regular {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 15px;
  color: $black;
  line-height: 170%;
}

@mixin text-big {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 17px;
  color: $black;
  line-height: 170%;
  opacity: 0.87;
}

@mixin text-big-mobile {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 16px;
  color: $black;
  line-height: 160%;
  opacity: 0.87;
}

@mixin text-regular-mobile {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 14px;
  line-height: 160%;
}

@mixin text-small {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 13px;
  color: $black;
  line-height: 150%;
}

@mixin logo-title {
  font-family: $font-logo;
  font-weight: $font-weight-logo;
  font-size: 200px;
  line-height: 170%;

  letter-spacing: 0.055em;
  text-transform: uppercase;

  color: #000000;

}

@mixin tab-label {
  font-family: $font-main;
  font-weight: $font-weight-text;
  font-size: 15px;
  line-height: 18px;
  color: $black;
  opacity: 0.87;
}

@mixin tab-header-active {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  text-transform: lowercase;
  font-variant: small-caps;

  background-image: url("../img/icons/tab-active.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 228px 66px;
}

@mixin tab-header-active-mobile {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 16px;
  line-height: 18px;
  color: $white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  text-transform: lowercase;
  font-variant: small-caps;

  background-image: $yellow-gradient;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 181px 50px;
  border: 1px solid transparent;
  border-radius: 54px;
}

@mixin feature-description {
  font-family: $font-logo;
  font-weight: $font-weight-sub-title;
  font-size: 21px;
  line-height: 25px;

  color: $white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
}

@mixin program-tab-icon($src, $size) {
  content: "";

  position: absolute;
  top: 16px;
  left: 20px;

  width: 36px;
  height: 36px;

  background-image: $src;
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center;
}

@mixin program-tab-icon-mobile($src) {
  content: "";

  position: absolute;
  top: 8px;
  left: 12px;

  width: 32px;
  height: 32px;

  background-image: $src;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}


@mixin input-focus {
  border-color: $yellow-gradient;
}

@mixin input-error {
  border-color: $red;
}

@mixin input-correct {
  border-color: $black;
}

@mixin call-btn {
  width: 264px;
  padding: 19px 61px 20px;

  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 17px;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
  text-transform: lowercase;
  font-variant: small-caps;
  
  border: 2px solid transparent;
  border-radius: 80px;
}

@mixin btn {
  background-image: $yellow-gradient;

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), $yellow-gradient;
  }
}

@mixin form-close($top, $right) {
  position: absolute;
  top: $top;
  right: $right;

  width: 18px;
  height: 18px;

  font-size: 0;

  background-color: transparent;
  border: none;
  background-image: url("../img/icons/btn-close.svg");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

@mixin form-placeholder {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 17px;
  line-height: 20px;
  text-transform: lowercase;
  font-variant: small-caps;

  color: $black;
}

@mixin form-input-text {
  font-family: $font-main;
  font-weight: $font-weight-medium;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;

  color: $black;
  opacity: 0.87;
}

@mixin agreement-check {
  position: absolute;
  top: 1px;
  left: 0;

  width: 16px;
  height: 16px;

  background-color: transparent;
  border: none;
  background-image: url("../img/icons/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

@mixin modal-border-shadow {
  border: 1px solid transparent;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

@mixin agreement-check-on {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;

  width: 14px;
  height: 14px;

  background-color: transparent;
  background-image: url("../img/icons/checkbox-checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin feature-item-img($src, $width, $height, $top, $left) {
  content: "";

  position: absolute;
  top: $top;
  left: $left;

  width: $width;
  height: $height;

  background-image: $src;
  background-repeat: no-repeat;
  background-size: $width $height;
  background-position: center;
}


