$black: #484848;
$black-opacity: rgba(72,72,72,0.87);
$black-less-opacity: rgba(72,72,72,0.74);
$black-logo: #000000;
$blue: #1FC0FC;
$yellow: #FFC341;
$yellow-gradient: linear-gradient(142.39deg, #FFC341 20.46%, #FFD701 65.31%);
$red: rgba(255,0,0,0.5);
$white: #FFFFFF;
$white-opacity: rgba(255,255,255,0.87);
$border-grey: #E3E3E3;
$overlay-grey: rgba(235,235,235,0.95);

$font-headers: 'Montserrat', Arial, sans-serif;
$font-main: 'Fira Sans', Arial, sans-serif;
$font-logo: 'Raleway', Arial, sans-serif;

$font-weight-text: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-sub-title: 800;
$font-weight-logo: 900;

$font-size-header-desktop: 40px;
$font-size-header-mobile: 32px;
